.mw__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mw__project-header {
    font-family: var(--font-family);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mw__project-header h2 {
    font-family: var(--font-family);
    color: black;
    font-size: 40px;
    font-weight: 800;
    margin: 1rem;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    border: solid 2px;
    border-radius: 30px;
    width: fit-content;
}

.mw__project-header h2:hover {
    opacity: .75;
    transition: .3s ease-in-out;
}

.mw__project-header p {
    font-family: var(--font-family);
    color: black;
    padding: 0 0 2rem 0rem;
    max-width: 1000px;
    font-size: 20px;
    text-align: justify;
    text-align-last: center;
}

.mw__project-tools {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.mw__project-tools_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}

.mw__project-tools_list ul {
    margin: 2rem .5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    background: blue;
}

.mw__project-tools h3 {
    padding-top: 2rem;
    flex-wrap: wrap;
    color: black;
    font-size: 36px;
}

@media screen and (max-width: 1320px) {
    .mw__project-header p {
        font-size: 16px;
        max-width: 800px;
    }

    .mw__project-tools_list {
        max-width: 800px;
    }
}

@media screen and (max-width: 1070px) {
    .mw__project-tools_list ul {
        font-size: 16px;
        margin: 1.5rem .5rem;
        padding: .5rem 1.5rem;
    }

    .mw__project-header h2 {
        font-size: 34px;
    }

    .mw__project-header p {
        font-size: 16px;
        max-width: 680px;
    }

    .mw__project-tools_list {
        max-width: 680px;
    }
}

@media screen and (max-width: 920px) {
    .mw__project-tools_list ul {
        font-size: 14px;
    }

    .mw__project-header p {
        font-size: 16px;
        max-width: 715px;
    }

    .mw__project-tools_list {
        max-width: 715px;
    }
}

@media screen and (max-width: 780px) {
    .mw__project-header p {
        font-size: 16px;
        max-width: 800px;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .mw__project-tools_list {
        max-width: 650px;
    }
}

@media screen and (max-width: 680px) {
    .mw__project-tools_list {
        max-width: 550px;
    }
}

@media screen and (max-width: 515px) {
    .mw__project-tools_list {
        max-width: 450px;
    }
}