.mw__qual {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mw__qual h1 {
    color: rgb(12, 16, 34);
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 48px;
    margin: 6rem 12rem 0;
}

.mw__qual-exp, .mw__qual-edu {
    margin: 2rem 18rem 0;
}

.mw__qual-exp h2, .mw__qual-exp h3 {
    color: black;
}

.mw__qual-exp h3 {
    margin-top: 1rem;
}

.mw__qual-edu h2 {
    color: black;
}

.mw__qual h2 {
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 36px;
}

.mw__qual h3 {
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 20px;
}

.mw__qual p {
    margin-top: 1rem;
    color: rgb(12, 16, 34);
    font-style: italic;
    font-family: var(--font-family);
    font-size: 16px;
}

.mw__qual-edu_uw {
    background: linear-gradient(90deg, #4b2e83, #85754d, #b7a57a);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 2rem;
}

.mw__qual-edu_psu {
    background: linear-gradient(270deg, #154734 50%, white);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 2rem;
}

.mw__qual-edu_psu h3, .mw__qual-edu_psu p {
    width: fit-content;
    background: -webkit-linear-gradient(180deg, white 55%, #154734 45%);
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.mw__qual-edu_uw h3, .mw__qual-edu_uw p {
    color: white;
}

@media screen and (max-width: 1050px) {
    .mw__qual h1 {
        margin: 4rem 4rem 0;
        text-align: center;
    }

    .mw__qual-exp, .mw__qual-edu {
        margin: 2rem 4rem 0rem;
    }

    .mw__qual-edu_psu h3, .mw__qual-edu_psu p {}
}

@media screen and (max-width: 600px) {
    .mw__qual h1 {
        font-size: 36px;
    }

    .mw__qual h2 {
        font-size: 30px;
    }

    .mw__qual h3 {
        font-size: 18px;
    }

    .mw__qual p {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .mw__qual h1 {
        font-size: 30px;
    }

    .mw__qual h2 {
        font-size: 24px;
    }

    .mw__qual h3 {
        font-size: 16px;
    }

    .mw__qual p {
        font-size: 12px;
    }
}

/* @media screen and (max-width: 1150px) {
    .mw__mam-header {
        margin: 4rem 2rem 3rem;
    }
    .mw__mam-content {
        margin: 0rem 4rem 4rem;     
    }
    
}
@media screen and (max-width: 900px) {
  
    
} */