.mw__projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.mw__projects h1 {
    color: rgb(12, 16, 34);
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 48px;
    margin: 6rem 12rem 0;
}

.mw__projects-divider {
    height: 0.4rem;
    max-width: 3.25rem;
    margin: 1rem auto;
    background-color: rgb(107, 103, 103);
    opacity: 1;
}

@media screen and (max-width: 1350px) {
    .mw__projects h1 {
        margin-left: 6rem;
    }
}

@media screen and (max-width: 1100px) {
    .mw__projects h1 {
        text-align: center;
        margin-right: 6rem;
    }
}

@media screen and (max-width: 600px) {
    .mw__projects h1 {
        font-size: 36px;
        margin: 3rem 0rem 0;
    }
}