.mw__mam {
    display:flex;
    flex-direction: column;
}


.mw__mam-header {
    margin-top: 6rem;
    margin-left: 12rem;
}

.mw__mam-header h1 {
    font-family: var(--font-family);
    font-size: 48px;
}

.mw__mam-content {
    display: flex;
    justify-content: flex-start;
    margin-top: inherit;
    margin-top: 4rem;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 6rem;
    
}

.mw__mam-content_imgbox {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}

.mw__mam-content_imgbox_top, .mw__mam-content_imgbox_bot {
    display: flex;
    max-width: inherit;
    max-height: inherit;
    width: 600px;
    height: 300px;
    
}


.mw__mam-content_imgbox img {
    
    max-width: 50%;
    object-fit: cover;
}

.mw__mam-content_infobox {
    margin: 0 0rem 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mw__mam-content_infobox_bio p {
    font-family: var(--font-family);
    font-size: 24px;
    /* margin-left: 4rem; */
}

.mw__mam-content ul
{
    list-style-type: none;
}

.mw__mam-content_infobox li {
    display: flex;
    font-family: var(--font-family);
    font-size: 20px;
    margin-bottom: .5rem;
    align-items: center;
}
.mw__mam-content_icon {
    margin-right: 1rem;
}

.mw__mam-content_infobox h3 {
    font-family: var(--font-family);
    font-size: 36px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1400px) {
    .mw__mam-content_imgbox {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        max-height: 500px;
        width: 100%;
        height: 100%;
    }

    .mw__mam-content_imgbox_top, .mw__mam-content_imgbox_bot {
        display: flex;
        max-width: inherit;
        max-height: inherit;
        width: 500px;
        height: 250px;
    }


    .mw__mam-content_imgbox img {
        max-width: 50%;
        object-fit: cover;
    }

    .mw__mam-content_infobox_bio p, .mw__mam-content_infobox li {
        font-family: var(--font-family);
        font-size: 16px;
        /* margin-left: 4rem; */
    }

    .mw__mam-content_infobox h3 {
        font-size: 30px;
    }
}



@media screen and (max-width: 1150px) {
    .mw__mam-header {
        text-align: center;
        margin: 4rem 2rem 3rem;
    }

    .mw__mam-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0rem 4rem 4rem;     

    }

    .mw__mam-content_infobox_bio p, .mw__mam-content_infobox li {
        font-size: 16px;
    }

    .mw__mam-content_infobox h3 {
        font-size: 28px;
    }

    .mw__mam-content_infobox {
        margin: 0;
    }
    
}

@media screen and (max-width: 650px) {
    .mw__mam-content_imgbox {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        max-height: 400px;
        width: 100%;
        height: 100%;
    }

    .mw__mam-content_imgbox_top, .mw__mam-content_imgbox_bot {
        display: flex;
        max-width: inherit;
        max-height: inherit;
        width: 400px;
        height: 200px;
        
    }

    .mw__mam-content {
        margin: 0rem 2rem 4rem;     

    }
}

@media screen and (max-width: 500px) {
    .mw__mam-content_imgbox {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        width: 100%;
        height: 100%;
    }

    .mw__mam-content_imgbox_top, .mw__mam-content_imgbox_bot {
        display: flex;
        max-width: inherit;
        max-height: inherit;
        width: 300px;
        height: 150px;
        
    }

    .mw__mam-content {
        margin: 0rem 2rem 4rem;     

    }
}