.mw__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="img-"] {
    border-radius: 20px;
    border-style: inset;
    margin: 5px;
    margin-top: 5px;
    width: auto;
    height: auto;
    border: none;
}

.img-front {
    width: 200px;
    height: 300px;
}

.img-back {
    width: 180px;
    height: 280px;
}

.btn-left {
    border: none;
    background: none;
    margin: 2rem 2rem 2rem 0;
}

.btn-right {
    border: none;
    background: none;
    margin: 2rem 0 2rem 2rem;
}

.btn-left:hover, .btn-right:hover {
    opacity: .75;
    transition: .3s ease-in;
    cursor: pointer
}

.svg {
    border-radius: 100%;
}

@media screen and (max-width: 1320px) {
    .img-front {
        width: 150px;
        height: 250px;
    }

    .img-back {
        width: 130px;
        height: 230px;
    }
}

@media screen and (max-width: 1070px) {
    .img-front {
        width: 120px;
        height: 220px;
    }

    .img-back {
        width: 100px;
        height: 200px;
    }

    .btn-icon {
        height: 48px;
    }
}

@media screen and (max-width: 920px) {
    .img-front {
        width: 120px;
        height: 220px;
    }

    .img-back {
        width: 120px;
        height: 220px;
    }
}

@media screen and (max-width: 780px) {
    .img-front {
        width: 170px;
        height: 260px;
    }

    .img-back {
        width: 170px;
        height: 260px;
    }

    .btn-left {
        margin: 2rem 2rem 2rem 2rem;
    }

    .btn-right {
        margin: 2rem 2rem 2rem 2rem;
    }
}

@media screen and (max-width: 615px) {
    .img-front {
        width: 150px;
        height: 220px;
    }

    .img-back {
        width: 150px;
        height: 220px;
    }

    .btn-right {
        margin-right: 1rem;
        margin-left: 0;
    }

    .btn-left {
        margin-right: 0;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 515px) {
    .img-front {
        width: 120px;
        height: 180px;
    }

    .img-back {
        width: 120px;
        height: 180px;
    }
}

@media screen and (max-width: 420px) {
    .img-front {
        width: 90px;
        height: 150px;
    }

    .img-back {
        width: 90px;
        height: 150px;
    }
}