.mw__header {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 75%;
}

.mw__header-text-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 5rem;
}

.mw__header-text-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.mw__header-text-content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 31px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.mw__header-text-content h5 {
    font-family: var(--font-family);
    color: rgb(204, 204, 204);
}

.mw__header-text-content p {
    font-family: var(--font-family);
    color: rgb(204, 204, 204);
    font-size: 20px;
    line-height: 27px;
}

.mw__header-message_container {
    max-width: 600px;
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.mw__header-message_container input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: var(--color-bg);
    border: 2px solid var(--color-bg);
    padding: 0 1rem;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mw__header-message_container button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-weight: bold;
    color: #fff;
    background: #d37bccb7;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    line-height: 27px;
    padding: 0 1rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.3s;
}

.mw__header-message_container button:hover {
    opacity: .5;
    color: #d37bccb7;
    background: white;
}

.mw__header-image_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mw__header-image_container img {
    width: 75%;
    height: 75%;
}

.launcher {
    position: absolute;
    overflow: hidden;
    width: 90%;
    height: 100%;
    margin-top: 50px;
}

.rocket {
    font-family: var(--font-family);
    font-size: 20px;
    color: #fff;
    position: absolute;
    margin-top: .5rem;
    margin-left: 1rem;
    animation: blastOff 4s 1;
}

@keyframes blastOff {
    from {
        transform: translateX(0)
    }

    20% {
        transform: translateY(400%)
    }

    to {
        transform: translate(25000%, 400%)
    }
}

@media screen and (max-width: 1250px) {
    .mw__header-text-content {
        margin: 0 2rem 3rem;
    }

    .mw__header-image_container img {
        width: 50%;
        height: 50%;
    }

    .mw__header-message_container input {
        font-family: var(--font-family);
        font-size: 18px;
        line-height: 27px;
    }
}

@media screen and (max-width: 1050px) {
    .mw__header {
        flex-direction: column;
    }

    .mw__header h1 {
        font-size: 48px;
        line-height: 40px;
    }

    .mw__header h3 {
        font-size: 26px;
    }

    .mw__header p {
        font-size: 16px;
        line-height: 24px;
        max-width: 600px;
    }

    .mw__header-message_container input,
    .mw__header-message_container button {
        font-size: 16px;
        line-height: 24px;
    }

    .mw__header-text-content {
        margin: 0 2rem 3rem;
    }

    .mw__header-image_container img {
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width: 900px) {
    .mw__header {
        width: 100%;
    }

    .mw__header-text-content {
        margin-top: 132px;
    }

    .mw__header h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .mw__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .mw__header-message_container input,
    .mw__header-message_container button {
        font-size: 16px;
        line-height: 24px;
    }

    .mw__header-image_container img {
        width: 75%;
        height: 75%;
    }

    .mw__header-text-content {
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .mw__header h1 {
        font-size: 40px;
    }

    .mw__header h3 {
        font-size: 24px;
    }

    .mw__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .mw__header-message_container input,
    .mw__header-message_container button {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 550px) {
    .mw__header-text-content {
        margin-top: 10rem;
    }
}